[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
MIDIUtil = "==1.2.1"
pyo = "*"
progress = "*"
fastapi = "*"

[dev-packages]
mypy = "*"
pylint = "*"
colorlog = "*"

[requires]
python_version = "3.9"

[packages.uvicorn]
extras = [ "standard",]
